<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">MvcDashboardIdentity</h1>
        <p class="lead">Your MVC dashboard to manage ASP.NET Core Identities.</p>
    </div>
</div>
