@model IndexModel
@{
    ViewBag.Title = "Translate";
}

<h1>Translate</h1>

@if (Model.Exception == null)
{ 
    <ul>
        @foreach (var item in Model.TranslationResponse)
        {
                 <li>@item</li>
        }
    </ul>
}
else
{
    <p><b>@(Model.Exception.Data["Content"])</b></p>
}