@page
@{ System.Threading.Thread.Sleep(Int32.Parse(Request.Query["delay"].Count == 0 ? "100" : Request.Query["delay"].ToString())); }
<option value="BE">Belgium</option>
<option value="FR">France</option>
<option value="NL" selected>Netherlands</option>
<option value="DE">Germany</option>
<option value="UK">United Kingdom</option>