@{
    ViewBag.Title = "Home";
}

<div class="border bg-light p-4 rounded-lg m-3">
    <h1 class="display-4">MvcDashboardContent</h1>
    <p class="lead">Your MVC dashboard to manage website content.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("GetStarted")" role="button">Get started</a>
</div>
