@if (this.Context.Request.Headers["X-Sircl-Request-Type"] == "Partial")
{
    <script>if (typeof sircl === 'undefined') { location.reload(); }</script>
    @:@RenderBody()
    return;
}
@if (this.Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest")
{
    <script>if (typeof sircl === 'undefined') { location.reload(); }</script>
    @:@RenderBody()
    return;
}
@{
    var minified = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sircl2 Samples &amp; Tests</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (minified)
    {
        <link href="~/lib/sircl-src-new/sircl-bundled.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/sircl-src-new/sircl.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/sircl-src-new/sircl-contextmenu.css" rel="stylesheet" type="text/css" />
    }
</head>
<body class="ondropfile-ignore">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sircl2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" ifroute-setactive="^\/($|Home(\/|$))">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexDelayed">Home</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Home\/Playground(\/|$)">
                            <a class="nav-link text-dark" href="/Home/Playground#pics">Play</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Home\/Media(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Media">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PlaygroundBs5">BS5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProductList">Prods</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/ToDo(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ToDo" asp-action="Index">ToDos</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Customers(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Invoices(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Products(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" onkeydown-click="Alt+P">Products <kbd>Alt+P</kbd></a>
                        </li>
                        <li class="nav-item" ifroute-setactive="^\/Privacy(\/|$)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col">
                <div id="toasts-container" class="float-right"></div>
            </div>
        </div>

        @* <div class="contextmenu">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" href="javascript:alert('Hi !')">Say hi !</a>
                    <a class="nav-link" href="javascript:document.body.contentEditable='true'; document.designMode='on'; void 0">Edit this page</a>
                </div>
            </div> *@

        <div>
            <progress class="main-download-progress float-right" hidden></progress>
            <progress class="main-upload-progress float-left" hidden></progress><br />
        </div>
        <div class="progress main-upload-progress">
            <div class="progress-bar"></div>
        </div>
        <div class="progress main-download-progress">
            <div class="progress-bar"></div>
        </div>
        <main role="main" id="main-target-id" class="pb-3 main-target with-overlay" onload-startviewtransition source-url="." upload-progress=".main-upload-progress" download-progress=".main-download-progress">
            @RenderBody()
        </main>

    </div>

    <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm...</h5>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="okButton">OK</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" onload-showmodalafter="5000" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="bs-modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Welcome!</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="back-top" class="onclick-scrolltop onscrolltop-fade" hidden>
        <i class="fas fa-chevron-circle-up"></i>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - SampleWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a><span class="d-none d-sm-inline"> - Last full page refresh: @DateTime.Now</span> <a href="history:back" class="btn btn-xs">&lt;</a> <a href="history:forward" class="btn btn-xs">&gt;</a>
        </div>
    </footer>

    <!-- Barcode polyfill: -->
    <!-- Source: https://github.com/undecaf/barcode-detector-polyfill -->
    <script src="https://cdn.jsdelivr.net/npm/@@undecaf/zbar-wasm@@0.9.15/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@undecaf/barcode-detector-polyfill@@0.9.20/dist/index.js"></script>
    <script>
        if (!('BarcodeDetector' in window)) {
            window['BarcodeDetector'] = barcodeDetectorPolyfill.BarcodeDetectorPolyfill
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/sortable/Sortable.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js" integrity="sha512-pUhApVQtLbnpLtJn6DuzDD5o2xtmLJnJ7oBoMsBnzOkVkpqofGLGPaBJ6ayD2zQe3lCgCibhJBi4cj5wAxwVKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="~/lib/long-press-event/long-press-event.js"></script>
    <script src="~/lib/jquery.touchswipe/jquery.touchSwipe.js"></script>
    @if (minified)
    {
        <script src="~/lib/sircl-src-new/sircl-bundled.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-bootstrap4.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-media.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-fa.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-toastr.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-sortable.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-qrious.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-vue.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-serversentevents.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-touchswipe-jquery.min.js"></script>
        <script src="~/lib/sircl-src-new/sircl-longpressevent.min.js"></script>
    }
    else
    {
        <script src="~/lib/sircl-src-new/sircl.js"></script>
        <script src="~/lib/sircl-src-new/sircl-extended.js"></script>
        <script src="~/lib/sircl-src-new/sircl-changeactions.js"></script>
        <script src="~/lib/sircl-src-new/sircl-contextmenu.js"></script>
        <script src="~/lib/sircl-src-new/sircl-bootstrap4.js"></script>
        <script src="~/lib/sircl-src-new/sircl-media.js"></script>
        <script src="~/lib/sircl-src-new/sircl-fa.js"></script>
        <script src="~/lib/sircl-src-new/sircl-toastr.js"></script>
        <script src="~/lib/sircl-src-new/sircl-sortable.js"></script>
        <script src="~/lib/sircl-src-new/sircl-qrious.js"></script>
        <script src="~/lib/sircl-src-new/sircl-vue.js"></script>
        <script src="~/lib/sircl-src-new/sircl-serversentevents.js"></script>
        <script src="~/lib/sircl-src-new/sircl-touchswipe-jquery.js"></script>
        <script src="~/lib/sircl-src-new/sircl-longpressevent.min.js"></script>
        @*<script src="~/lib/sircl-src-new/sircl-debugging.js"></script>*@
    }

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @*<script src="~/lib/sircl-src-new/sircl-samples-extensibility.js"></script>*@
    <script>
        $$(function () {
            $("[data-bs-toggle='popover']").popover({ container: "body" });
            $("[data-toggle='tooltip']").tooltip({ boundary: "window" });
        });
    </script>
    <script>

        sircl.addErrorHandler(function (code, message, data) {
            alert(code + ": " + message);
        });
        //sircl.addRequestHandler("onError", function (req) {
        //    req.$finalTarget = sircl.ext.$mainTarget();
        //    req.responseText = "<h1>Error " + req.status + " - " + (req.statusText || "Unexpected error") + "</h1><p>An unexpected error has occured.</p>";
        //    req.succeeded = true;
        //    this.next(req);
        //});
        sircl.addRequestHandler("onError", function (req) {
            if (req.method === "get") {
                // Re-issue the request by the browser, to render the error page:
                //window.location.href = req.action
                //req.succeeded = true;
                //} else {
                // If no get request, we can not re-issue, then inform user:
                alert("An error has occured.");
            }
            //console.log(req);
            //console.log(JSON.stringify(req));
            this.next(req);
            //;
        });
    </script>
</body>
</html>
