@model NewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">New document</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                Choose type of document to create:
            </p>
            <div class="d-grid gap-2">
                @foreach (var item in Model.DocumentTypes)
                {
                    <a asp-action="New" asp-route-typeid="@item.Id" class="btn btn-light"><i class="spinner fas fa-plus"></i> @item.Name</a>
                }
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
