@model Sircl.Website.Models.Content.ContentModel
@{
    Layout = "_Layout";
    //IgnoreBody();
}

@if (this.Context.User?.IsInRole("Administrator") == true || this.Context.User?.IsInRole("ContentAdministrator") == true || this.Context.User?.IsInRole("ContentEditor") == true)
{
    <div class="float-right float-end"><a asp-action="Edit" , asp-controller="Document" asp-route-area="MvcDashboardContent" asp-route-id="@Model.Document.Id" class="btn btn-light btn-sm">EDIT</a></div>
}

<h1>@Html.Content("Title")</h1>

@Html.Content("Body")
