<h3>DialogContent</h3>

<p>
    @DateTime.Now
</p>

<p>
    <a href="/Home/DialogContent" target="#dlg1"><i class="spinner"></i>Dialog 1</a><br />
    <a href="/Home/DialogContent" target="#dlg2"><i class="spinner"></i>Dialog 2</a><br />
    <a href="/Home/DialogContent" target="#dlg3"><i class="spinner"></i>Dialog 3</a><br />
    <a href="/Home/DialogContent" target="#reddialog"><i class="spinner"></i>Reddialog</a><br />
</p>

<p>
    <a href="/Home/DialogContent?target=main" target="#dlg1"><i class="spinner"></i>Dialog 1 to main</a><br />
    <a href="/Home/DialogContent?target=%23dlg2" target="#dlg1"><i class="spinner"></i>Dialog 1 to Dialog 2</a><br />
    <a href="/Home/DialogContent?target=%23dlg3" target="#dlg1"><i class="spinner"></i>Dialog 1 to Dialog 3</a><br />
    <a href="/Home/DialogContent?target=%23reddialog" target="#dlg1"><i class="spinner"></i>Dialog 1 to Reddialog</a><br />
</p>

<p>
    <a href="/Home/DialogContent?target=%23dlg1" target="#reddialog"><i class="spinner"></i>Reddialog to Dialog 1</a><br />
    <a href="/Home/DialogContent?target=%23dlg2" target="#reddialog"><i class="spinner"></i>Reddialog to Dialog 2</a><br />
    <a href="/Home/DialogContent?target=%23dlg3" target="#reddialog"><i class="spinner"></i>Reddialog to Dialog 3</a><br />
</p>


<p>
    <a href="/Home/Index">Index</a>
</p>

<p>
    <input type="text" />
</p>

<p>
    <input type="text" autofocus />
</p>
