
<div class="alert alert-info">
    <span class="float-right"><button class="btn btn-sm" type="button" onclick-copyinnertext="#cmdline"><span class="spinner"></span> Copy</button></span>
    <span id="cmdline">ngrok http https://localhost:44386 --domain=glad-proud-ant.ngrok-free.app --host-header="localhost:44386"</span>
</div>

<video id="video1" controls="controls" width="320" height="240"
       onplaymedia-hide="#replaybtn" onendedmedia-show="#replaybtn"
       onplaymedia-show="#playing1" onpausemedia-hide="#playing1"
       onplaymedia-removeclass="highlighted on #playing1P"
       onpausemedia-addclass="highlighted on #playing1P"
       picture-canvas="#canv1">
    <source src="~/media/samplevideo.mp4" type="video/mp4" />
</video>
<canvas id="canv1"></canvas>
<p>
    <button type="button" onclick-resetmedia="#video1" onclick-playmedia="#video1">Play</button>
    <button type="button" onclick-pausemedia="#video1">Pause</button>
    <button type="button" onclick-toggleplaymedia="#video1">Play/Pause</button>
    <button type="button" onclick-takepicture="#video1">Take picture</button>
    <button type="button" onclick-playmedia="#video1" id="replaybtn" hidden>Replay</button>
</p>

<p id="playing1P" class="highlighted">
    <div id="playing1" class="animate" hidden>Media now playing</div>
</p>

<hr />

<audio id="audio1" controls="controls"
       onplaymedia-show="#playinga1" onpausemedia-hide="#playinga1"
       onplaymedia-removeclass="highlighted on #playinga1p"
       onpausemedia-addclass="highlighted on #playinga1p">
    <source src="~/media/SampleSound.wav" />
</audio>
<p>
    <button type="button" onclick-resetmedia="#audio1" onclick-playmedia="#audio1">Play</button>
    <button type="button" onclick-pausemedia="#audio1">Pause</button>
    <button type="button" onclick-toggleplaymedia="#audio1">Play/Pause</button>
    <button type="button" onclick-playmedia="#audio1" id="replaybtn" hidden>Replay</button>
</p>

<p id="playinga1p" class="highlighted">
    <div id="playinga1" class="animate" hidden>Sound now playing</div>
</p>

<hr />

@*

<p style="height: 20px;"></p>

<video id="video2" controls="controls" width="320" height="240" onplaymedia-show="#playing2" onpausemedia-hide="#playing2" picture-canvas="#canv2">
</video>
<canvas id="canv2"></canvas>
<p>
    <button type="button" onclick-resetmedia="#video2" onclick-playmedia="#video2">Play</button>
    <button type="button" onclick-pausemedia="#video2">Pause</button>
    <button type="button" onclick-toggleplaymedia="#video2">Play/Pause</button>
    <button type="button" onclick-takepicture="#video2">Take picture</button>
</p>
<p>
    <div id="playing2" class="animate" hidden>Media now playing</div>
</p>

<p>
    <select class="onload-addvideodevices" onchange-setvideosource="#video2">
        <option value="">(Select a source)</option>
    </select>
</p>

<video id="video3" controls="controls" width="320" height="240" onload-setvideosource="environment silent" onplaymedia-show="#playing3" onpausemedia-hide="#playing3"
       picture-fileinput="#pic3" picture-filename="MyCameraImage.jpg" picture-canvas="#canv3" picture-img="#img3" picture-imgref="#img3b"
       barcode-formats="qr_code code_39" onbarcodedetected-setfield="#bc3">
</video>
<canvas id="canv3"></canvas>
<img id="img3" width="100"/>
<img id="img3b" width="100"/>
<p>
    <button type="button" onclick-resetmedia="#video3" onclick-playmedia="#video3">Play</button>
    <button type="button" onclick-pausemedia="#video3">Pause</button>
    <button type="button" onclick-toggleplaymedia="#video3">Play/Pause</button>
    <button type="button" onclick-takepicture="#video3">Take picture</button>
</p>
<p>
    <div id="playing3" class="animate" hidden>Media now playing</div>
</p>

<form asp-action="UploadFile" enctype="multipart/form-data">
    <fieldset>
        <legend>File upload</legend>
        <input type="file" name="file" id="pic3" class="onchange-submit" />
        <button type="submit">Submit</button>
    </fieldset>
</form>

<form href="/Test/RequestInfo?form" method="post" target="#output3">
    <fieldset>
        <legend>Barcode scanned</legend>
        <input type="text" name="code" id="bc3" />
        <button type="submit">Submit</button>
    </fieldset>
</form>
 *@

<div class="ifcanusebarcodescanner-hide alert alert-danger" hidden>
    Barcode API not available...
</div>

<div class="ifcanusebarcodescanner-show" hidden>
    <video id="video3" controls="controls" class="barcode-scanner xxonbarcodedetected-navigate" width="320" height="240" onload-setvideosource="environment" onplaymedia-show="#playing3" onplaymedia-hide=".when-paused" onpausemedia-hide="#playing3" onpausemedia-show=".when-paused"
           barcode-formats="foobar code_39 code_128 qr_code" onbarcodedetected-setvalue="#bc3" onbarcodedetected-setformat="#bc3f"
           autoplay muted>
    </video>
    <p class="when-paused animate">
        <button type="button" onclick-playmedia="#video3">PLAY</button>
    </p>
    <p>
        <div id="playing3" class="animate" hidden>Scanning</div>
    </p>

    <form action="/Test/RequestInfo?form" method="post" target="#output3">
        <fieldset>
            <legend>Barcode scanned</legend>
            <input type="text" name="format" id="bc3f" />
            <input type="text" name="code" id="bc3" class="onchange-submit" />
            @* <textarea name="code" id="bc3" cols="60" rows="8">
            </textarea> *@
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <div id="output3"></div>
</div>

<canvas qr-code="https://glad-proud-ant.ngrok-free.app" style="padding: 20px;">
</canvas>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(document).on("barcodedetected", "VIDEO", function (event) {
            alert(event.detail.barCodes[0].rawValue);
        });
    });
</script>


<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>
<p style="height: 50px;"></p>


