<h3>ModalContent</h3>

<p>
    @DateTime.Now
</p>

<p>
    <a href="/Home/ModalContent" target="#bsmodal1"><i class="spinner"></i>Modal 1</a><br />
    <a href="/Home/ModalContent" target="#bsmodal2"><i class="spinner"></i>Modal 2</a><br />
    <a href="/Home/ModalContent" target="#bsmodal3"><i class="spinner"></i>Modal 3</a><br />
    <a href="/Home/ModalContent" target="#redmodal"><i class="spinner"></i>Redmodal</a><br />
</p>

<p>
    <a href="/Home/ModalContent?target=main" target="#bsmodal1"><i class="spinner"></i>Modal 1 to main</a><br />
    <a href="/Home/ModalContent?target=%23bsmodal2" target="#bsmodal1"><i class="spinner"></i>Modal 1 to Modal 2</a><br />
    <a href="/Home/ModalContent?target=%23bsmodal3" target="#bsmodal1"><i class="spinner"></i>Modal 1 to Modal 3</a><br />
    <a href="/Home/ModalContent?target=%23redmodal" target="#bsmodal1"><i class="spinner"></i>Modal 1 to Redmodal</a><br />
</p>

<p>
    <a href="/Home/ModalContent?target=%23bsmodal1" target="#redmodal"><i class="spinner"></i>Redmodal to Modal 1</a><br />
    <a href="/Home/ModalContent?target=%23bsmodal2" target="#redmodal"><i class="spinner"></i>Redmodal to Modal 2</a><br />
    <a href="/Home/ModalContent?target=%23bsmodal3" target="#redmodal"><i class="spinner"></i>Redmodal to Modal 3</a><br />
</p>


<p>
    <a href="/Home/Index">Index</a>
</p>

<p>
    <input type="text" />
</p>

<p>
    <input type="text" autofocus />
</p>
