

<div draggable="true" drop-type="customer"> Caesar </div>
<div draggable="true" drop-type="supplier"> Sophia </div>
<div draggable="true" drop-type="customer supplier"> Bernice </div>
<div draggable="true" drop-type="partner"> Peter </div>

<div ondrop-accept="customer">
    Drop customers here
</div>

<div ondrop-accept="supplier">
    Drop suppliers here
</div>

<div ondrop-accept="customer supplier">
    Drop customers or suppliers here
</div>