<hr />

<button type="submit" class="btn btn-link" onclick-share=":this" data-share-text=""><i class="fas fa-solid fa-share-alt spinner"></i> Share this page</button>

<hr />

<div class="chapter">
    <div><label><input type="radio" name="x4456" ifchecked-hide="<.chapter|>.section" ifchecked-show="#x4456a" checked /> Section A (animated)</label></div>
    <div id="x4456a" class="section animate" hidden>This is section A</div>
    <div><label><input type="radio" name="x4456" ifchecked-hide="<.chapter|>.section" ifchecked-show="#x4456b" /> Section B (animated)</label></div>
    <div id="x4456b" class="section animate" hidden>This is section B</div>
    <div><label><input type="radio" name="x4456" ifchecked-hide="<.chapter|>.section" ifchecked-show="#x4456c" /> Section C (not animated)</label></div>
    <div id="x4456c" class="section " hidden>This is section C</div>
</div>

<hr />

<div>
    <form action="/Time?delay=1234" class="onfocus-select onfocusout-trim onsubmit-disable onload-submit" target="<DIV|>.output">
    <label><input type="checkbox" value="abc" /> abc</label><br/>
    <input type="text" value="  abc    " class="form-control onfocusout-notrim" /><br />
    <input type="text" value="  abc    " class="form-control onfocus-noselect" /><br />
    <button type="submit" class="btn btn-primary onsubmit-disable">Back or close</button>
    <button type="submit" class="btn btn-primary onsubmit-disable">Save and stay</button><br />
</form>
<p class="output"></p>
</div>

<hr />

<form onsubmit-confirm="Sure?">
    <div>
        <input type="text" required />
    </div>
    <div>
        <button type="submit" onsubmit-confirm="OK?">OK?</button><br />
        <button type="submit" onsubmit-confirm="OK?" formnovalidate>OK (novalidate)?</button><br />
        <span class="onclick-submit" onsubmit-confirm="OK?">OK?</span><br />
        <span class="onclick-submit">Submit</span><br />
        <label><input type="checkbox" class="onchange-submit" onsubmit-confirm="Proceed?" />Proceed</label><br/>
    </div>
</form>

<hr/>

<a href="history:back">Back</a><br />
<a href="history:back" onback-allowclose="Ready to close browser page ?">Back with onback-allowclose attr</a><br/>
<a href="history:back" class="onback-allowclose">Back with onback-allowclose class</a>

<hr/>

<div>
    <input type="text" name="TimeZone" onload-setvalue="Intl.DateTimeFormat().resolvedOptions().timeZone" /><br/>
    <input type="text" onload-setvalue="5+3" /><br/>
    <br/>
    <button type="button" class="btn btn-primary" onclick-showtoastr=".octoast" onclick-copytext="FooBar!"><i class="fas fa-solid fa-clipboard spinner"></i> FooBar!</button>
    <button type="button" class="btn btn-primary" onclick-showtoastr=".octoast" onclick-copyvalue="[name=TimeZone]"><i class="fas fa-solid fa-clipboard spinner"></i> Value</button>
    <button type="button" class="btn btn-primary" onclick-showtoastr=".octoast" onclick-copyinnertext="<DIV|>P"><i class="fas fa-solid fa-clipboard spinner"></i> Text</button>
    <button type="button" class="btn btn-primary" onclick-showtoastr=".octoast" onclick-copyinnerhtml="<DIV"><i class="fas fa-solid fa-clipboard spinner"></i> HTML</button>
    <p>Hello there !</p>
    <textarea></textarea>
</div>

<div class="octoast" data-toastr-type="success" data-toastr-title="Copied to clipboard" hidden>  The data has been copied to the clipboard.</div>

<template class="octoast" data-toastr-type="warning" data-toastr-title="Confidentiality">  Data in the clipboard may contain confidential info!</template>

<hr/>

<div onload-load="/Time?Format=HH:mm" xx-onload-reloadafter="5" class="diffcheck"></div>

<hr/>

<ul class="nav nav-tabs hash-routed">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#intro">Intro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#details">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pics">Pictures</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="intro">Intro...</div>
    <div class="tab-pane" id="details">Details...</div>
    <div class="tab-pane" id="pics">Pictures...</div>
</div>

<a href="#intro">Intro</a>
- <a href="#details">Details</a>
- <a href="#pics">Pictures</a>

<hr/>

<form class="" action="/Test/RequestInfo?form" enctype="multipart/form-data" method="post">
    <div ondropfile-set="#fileinp" ondragover-addclass="red">
        <p>Drop file here...</p>
        <div>
            <input type="text" name="hi" class="onchange-submit"/>
        </div>
        <input id="fileinp" name="files" type="file" multiple
            accept=".pdf,.docx,image/*"
            accept-alert="File type not supported"
            maxcount="4"
            maxcount-alert="Too many files"
            maxsize="5 MB"
            maxsize-alert="File is more than 100 KB"
            maxtotalsize="20 MB"
            maxtotalsize-alert="All files together should be less than 200 KB"
            onchange-setname="<DIV|>P"
            class="onchange-submit" formaction="/Test/RequestInfo?input" formenctype="multipart/form-data" formmethod="post">
    </div>
    <button type="submit">OK</button>
</form>

<hr/>

<form action="/Test/RequestInfo?form" method="post">
  <input type="text" name="Name" placeholder="Enter name" />
  <div class="ondropfile-set" style="border: solid 1px green;">
    <p>Drop your picture here</p>
    <input class="onchange-submit" type="file" name="files"
        accept="image/*"
        maxsize="4 MB"
        accept-alert="Only images are accepted."
        maxcount-alert="Only a single file is accepted."
        maxsize-alert="Please upload a file smaller than 4 MB."
        formaction="/Test/RequestInfo?form"
        formmethod="post"
        formenctype="multipart/form-data"
        formtarget="<DIV"
        hidden>
  </div>
  <button type="submit">OK</button>
</form>


<hr />

<a href="#bottom">Go to bottom of page</a>
<br/>
<i href="#bottom">Go to bottom of page</i>



<hr />

<a href="/Sortable" class="onclick-disable"><i class="spinner"></i> Click here for Sortables</a>

<hr />

<p>Spinner onnavigate URL</p>

<a href="/Time?delay=2000" target="_self" class="onclick-disable onnavigate"><i class="spinner"></i> Time (delayed)</a>

<hr />

<p>Spinner onnavigate Form</p>

<form action="/Time" method="get" class="onsubmit-disable onnavigate" target="_self">
<input type="number" name="delay" value="2000" /><br/>
<button type="submit"><i class="spinner"></i> Submit</button>
</form>

<hr />

<p>Onclick-submit:</p>

<div>
<form id="ocsf1" action="/Query?src=form" target="<DIV|>.output">
    Value : <input type="text" name="value" />
    <p>
        <button type="button" class="onclick-submit" formaction="/Query?src=Submit3">Submit 3</button>
    </p>
</form>
<div class="output"></div>
</div>
<button type="button" class="onclick-submit" form="ocsf1" onclick-confirm="This BUTTON has no target; will load in new page. Proceed ?">Submit</button>
<br/>

<p class="onclick-submit mt-3" style="padding: 6px; background-color: lightcyan;" form="ocsf1" formaction="/Query?src=Submit2" formtarget="#ocsf1|<DIV|>.output">Submit 2 (click on me)</p>

<a href="http://www.google.com/" onclick-submit="#ocsf1" target="_self">Submit 4</a>

<hr />

<p>Submit a form where an onclick handler exists on the submit button</p>

<form action="/Time?delay=100" target="#submitWithOnClick" class="onsubmit-disable">
    <input type="text" name="t" />
    <br/>
    <button id="submitWithOnClickBtn" type="submit" onclick="submitWithOnClick();">Submit</button>
</form>
<div id="submitWithOnClick">
    (update time here)
</div>
<script>
    function submitWithOnClick() {
        console.log("OnClick handler triggered");
        //$("#submitWithOnClickBtn").addClass("disabled");
        return true;
    }
</script>

<a id="disabledhref" href="https://www.google.com" target="_self" disabled>Disabled link</a>
<style>
[href][disabled] { color: gray; text-decoration: none; }
</style>
<br/><button type="button" onclick-enable="#disabledhref">Enable</button><button type="button" onclick-disable="#disabledhref">Disable</button>

<hr />

<div>
    <a href="/Time?delay=2000" target="#disabledtime" target-method="append" class="onclick-disable">Hyperlink to disable</a>
</div>

<div>
    <button onclick-load="/Time?delay=2000" target="#disabledtime" target-method="append" class="onclick-disable">Button to disable</button>
</div>

<div>
    <form action="/Time?delay=2000" target="#disabledtime" target-method="append">
        <button type="submit" class="onclick-disable">Submit to disable</button>
    </form>
</div>

<div>
    <form action="/Time?delay=2000" target="#disabledtime" target-method="append" class="onsubmit-disable">
        <button type="submit">Form to disable</button>
    </form>
</div>

<div id="disabledtime">
</div>

<style>
    .disabled { color: gray; background-color: lightgray; }
</style>

<hr />

<div>

    <h1>Original</h1>

    <button type="button" onclick-click="<DIV|>TEMPLATE">Replace by copy</button>

    <template onclick-copyto="<DIV|>H1">Copy</template>

</div>


<hr />

<fieldset onchange-action="/Home/ConnectionMode?Speed=[csp]" class="substitute-fields">
    <legend>Connection mode</legend>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="cm1" name="cm" value="WIFI" checked>
        <label class="form-check-label" for="cm1">WIFI</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="cm2" name="cm" value="BT" checked>
        <label class="form-check-label" for="cm2">Bluetooth</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="cm3" name="cm" value="NFC" checked>
        <label class="form-check-label" for="cm3">NFC &amp; Contactless payments</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="cm4" name="cm" value="FM">
        <label class="form-check-label" for="cm4">Flight mode</label>
    </div>
</fieldset>
<fieldset>
    <legend>Connection speed</legend>
    <label for="csp" class="form-label">Select speed:</label>
    <br />
    <input id="csp" name="csp" type="range" class="form-range substitute-fields"
           onchange-action="/Home/ConnectionSpeed?Modes=[cm]"
           target="#speedinfo"
           min="1" max="5" value="3"
           style="max-width: 250px;">
    <label for="csp" class="form-label">Select speed (no name):</label>
    <br />
    <input id="csp" type="range" class="form-range substitute-fields"
           onchange-action="/Home/ConnectionSpeed?Modes=[cm]"
           target="#speedinfo"
           min="1" max="5" value="3"
           style="max-width: 250px;">
    <div id="speedinfo"></div>
</fieldset>

<hr />

<table class="table">
    <tr>
        <td><a href="/Time" browser-cache="off" target="#t554121">Time Uncached</a></td>
        <td><a href="/Time" browser-cache="on" target="#t554122">Time Cached</a></td>
        <td><a href="javascript:cachedTime('#t554123')">Time Cached</a></td>
    </tr>
    <tr>
        <td id="t554121"></td>
        <td id="t554122"></td>
        <td id="t554123"></td>
    </tr>
</table>
<script>
    function cachedTime(target) {
        var jqxhr = $.ajax("/Time")
            .done(function (data) {
                $(target).html(data);
            })
            .fail(function () {
                alert("error");
            })
            .always(function () {
                //alert("complete");
            });
    }
</script>


<hr />

<div class="target">
    <div id="o1" class="overlay" hidden></div>
    <form action="/Time" method="get">
        <h4>Form with 2 overlays</h4>
        <div class="target">
            <div id="o2" class="overlay" hidden></div>
            <p>As this contains a second overlay.</p>
            <p>
                <button type="submit" class="btn btn-secondary" formaction="/Time">Refresh</button>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <p>-</p>
    <div class="target">
        <div id="o3" class="overlay" hidden></div>
        <p>As this contains a second overlay.</p>
        <p>
            <a href="/Time" target="<.target">Get time</a>
        </p>
    </div>
</div>

<hr />

<div>

    <div onload-load="/Time">Current time...</div>
    <button type="button" class="btn btn-secondary" onclick-reload="<DIV|>DIV"><i class="spinner"></i> Onclick-Reload</button>
    <br />
    <button type="button" class="btn btn-secondary" onclick-load="/Time" target="<DIV|>DIV[onload-load]"><i class="spinner"></i> Onclick-Load with target</button>
</div>

<hr />

<div class="onload-showtoastr" data-toastr-type="success" data-toastr-title="Added to cart" hidden>  The item has been added to your shopping cart.</div>

<hr />

<p>
    <select onload-load="/SelectCountries?delay=800" style="min-width: 200px;" onchange-click="#cmdocc"></select>
</p>
<p>
    <button id="cmdocc" type="button" class="btn btn-primary" onclick-load="/Time" target="#cmdocctarget"><i class="spinner"></i> Clicked on change country</button>
</p>
<div id="cmdocctarget">
    Time here on click
</div>

<hr />

<form id="frm4123">
    <div>
        <label><input type="checkbox" name="copt" ifchecked-expand="<form|>.one" checked /> Option 1</label>
    </div>
    <div class="collapse one" ifexpanded-load="/Time" onexpand-set="ExpState1" onload-copyto="#latest555">
        Option 1 info
    </div>
    <div>
        <label><input type="checkbox" name="copt" ifchecked-expand="<form|>.two" /> Option 2</label>
    </div>
    <div class="collapse two" ifexpanded-load="/Time" onexpand-set="ExpState2" onload-copyto="#latest555">
        Option 2 info
    </div>
    <div>
        <label><input type="checkbox" name="copt" ifchecked-expand="<form|>.three" /> Option 3</label>
    </div>
    <div class="collapse three show" ifexpanded-load="/Time" onexpand-set="ExpState3" onload-copyto="#latest555">
        Option 3 info
    </div>
    <button type="button" class="btn btn-link" onclick-uncheck="<form|>input[type=checkbox], <form|>input[type=radio]">Clear</button>
    <br />
    <input type="text" name="ExpState1" value="true" />
    <input type="text" name="ExpState2" value="" />
    <input type="text" name="ExpState3" value="" />
</form>

<div id="latest555">
</div>

<hr />

<h1>HELP</h1>

<a href="alert:Help" onkeydown-click="F1">Help <kbd>F1</kbd></a> | <a href="alert:Info" onkeydown-click="Ctrl+i">Info <kbd>Ctrl+I</kbd></a> | <a href="null" onkeydown-click="/" onclick-focus="#srchbox">Search <kbd>/</kbd></a>

<p>
    <input type="text" id="srchbox" />
</p>

<hr />

<form id="frm5545">
    <div>
        <label><input type="radio" name="copt" ifchecked-expand="<form|>.one" checked /> Option 1</label>
    </div>
    <div class="collapse one" ifexpanded-load="/Time" onexpand-set="ExpState1">
        Option 1 info
    </div>
    <div>
        <label><input type="radio" name="copt" ifchecked-expand="<form|>.two" /> Option 2</label>
    </div>
    <div class="collapse two" ifexpanded-load="/Time" onexpand-set="ExpState2">
        Option 2 info
    </div>
    <div>
        <label><input type="radio" name="copt" ifchecked-expand="<form|>.three" /> Option 3</label>
    </div>
    <div class="collapse three show" ifexpanded-load="/Time" onexpand-set="ExpState3">
        Option 3 info
    </div>
    <button type="button" class="btn btn-link" onclick-uncheck="<form|>input[type=checkbox], <form|>input[type=radio]">Clear</button>
    <br />
    <input type="text" name="ExpState1" value="true" />
    <input type="text" name="ExpState2" value="" />
    <input type="text" name="ExpState3" value="" />
</form>

<hr />

<form>
    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#cdetails1">Details</a>
    </div>
    <div class="collapse" id="cdetails1" onexpand-set="ExpState1">
        Details 1
    </div>
    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#cdetails2">Details</a>
    </div>
    <div class="collapse" id="cdetails2" onexpand-set="ExpState2">
        Details 2
    </div>
    <div>
        <a class="btn btn-primary" data-toggle="collapse" href="#cdetails3">Details</a>
    </div>
    <div class="collapse show" id="cdetails3" onexpand-set="ExpState3">
        Details 3
    </div>

    <input type="text" name="ExpState1" value="true" />
    <input type="text" name="ExpState2" value="" />
    <input type="text" name="ExpState3" value="" />
</form>

<hr />

<div>
    <a class="btn btn-primary" data-toggle="collapse" href="#cdetails">Details</a>
</div>

<div class="collapse show" id="cdetails" ifexpanded-load="/Time">
    Loading...
</div>

<hr />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" ifactivetab-load="/Time">...1</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" ifactivetab-load="/Time">...2</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" ifactivetab-load="/Time">...3</div>
</div>


<hr />

@*<style>
    .action-pending {
    border: solid 4px green;
    }
    </style>*@
<input type="hidden" name="CID" value="345" />
<input type="text" class="substitute-fields" name="Name" onchange-action="/Query?Id=[CID]" target="#caout5" />
<div id="caout5"></div>

<hr />

<input class="oninput-change" type="text" list="autoprod2" onchange-action="/Products/AutoComplete" browser-cache="on" target="#autoprod2" />
<datalist id="autoprod2"></datalist>

<hr />

<select name="Visited" multiple onchange-action="/Query" target="#caout4">
    <option>New York</option>
    <option>London</option>
    <option>Brussels</option>
    <option>Bangkok</option>
</select>
<div id="caout4"></div>


<hr />

<input type="email" name="Email" onchange-action="/Query" target="#caout3" />
<div id="caout3"></div>

<hr />


<fieldset onchange-action="/Query" target="#caout2">
    <legend>Delivery mode</legend>
    <input type="radio" name="Mode" value="LND" /> Over land </br/>
    <input type="radio" name="Mode" value="SEA" /> Over sea </br/>
    <input type="radio" name="Mode" value="AIR" /> In the air </br/>
    <input type="checkbox" name="Options" value="Refr" /> Refrigerated </br/>
    <input type="checkbox" name="Options" value="Expr" /> Express delivery
</fieldset>

<div id="caout2"></div>

<hr />


<label>
    <input type="checkbox" onchange-action="/Query" target="#caout1" name="alfa" value="456" />
    Subscribe to weekly newsletter
</label>

<div id="caout1"></div>


<hr />

<input id="val01" type="text" />
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val01')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val01')[0]))">val</button>
<br />

<label><input id="val02" type="checkbox" /> Checkbox</label>
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val02')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val02')[0]))">val</button>
<br />

<label><input id="val03" type="radio" /> Radio</label>
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val03')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val03')[0]))">val</button>
<br />

<select id="val04">
    <option disabled>Red</option>
    <option disabled>Green</option>
    <option disabled>Blue</option>
</select>
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val04')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val04')[0]))">val</button>
<br />

<select id="val05">
    <option>Red</option>
    <option>Green</option>
    <option>Blue</option>
</select>
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val05')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val05')[0]))">val</button>
<br />

<select id="val06" multiple>
    <option>Red</option>
    <option>Green</option>
    <option>Blue</option>
</select>
<button type="button" onclick="alert(typeof sircl.ext.effectiveValue($('#val06')[0]))">typ</button>
<button type="button" onclick="alert(sircl.ext.effectiveValue($('#val06')[0]))">val</button>
<br />


<hr />


<a href="/Elsewhere">Leave page</a>
<a href="/Elsewhere" class="onunloadchanged-allow">Leave page without confirmation</a>
    ...
<form onchange-set="HasChanges" onunloadchanged-confirm="Ok to loose changes ?">
    <input type="hidden" name="HasChanges" />
    <input type="text" name="Town" />
    <button type="submit">Submit</button>
</form>

<hr />

<form onchange-set="HasChanges">
    <input type="hidden" name="HasChanges" />
    <input type="text" name="Town" />
    <button type="submit" onclickchanged-confirm="Are you sure you want to save those changes ?">Submit</button>
</form>


<hr />

<select onload-defaultselect="C" required>
    <option value="">Select a region</option>
    <option value="A">Region A</option>
    <option value="B">Region B</option>
</select>

<hr />

<label>
    <input type="checkbox" ifchecked-enable="#phone" ifunchecked-disable="#phone" ifunchecked-clearvalue="#phone" />
    I have a phone
</label>
<br />
<input id="phone" type="text" placeholder="Phone number" />

<hr />

<button onclick-show="#extopt" onclick-hide=":this"> More options </button>
<div id="extopt" hidden>
    <label><input type="checkbox"> Option 1</label><br />
    <label><input type="checkbox"> Option 2</label><br />
    <label><input type="checkbox"> Option 3</label><br />
</div>

<hr />

<img src="~/lib/images/itag.png" ondblclick-load="/Time" target="#help" />
<div id="help"></div>

<hr />

<label><input id="pdel" type="checkbox" ifunchecked-uncheck="#xdel" /> Postal delivery</label>
<br />
<label><input id="xdel" type="checkbox" ifchecked-check="#pdel" /> Express delivery</label>

<hr />

<label><input type="checkbox" ifunchecked-uncheck=".req-pd" ifchecked-enable=".req-pd" /> Postal delivery</label>
<br />
<label><input type="checkbox" class="req-pd" /> Express delivery</label>

<hr />

<button type="button" onclick-enable="#opt1" onclick-disable=".opt">Only option 1</button>
<label><input type="checkbox" id="opt1" class="opt">Option 1</label>
<label><input type="checkbox" id="opt2" class="opt">Option 2</label>
<label><input type="checkbox" id="opt3" class="opt">Option 3</label>

<hr />

<input type="text" name="name" required ifinvalid-show="#info" />
<div id="info">Please enter your name</div>


<hr />

<form action="/Time" class="onchange-submit target">
    <label><input type="radio" id="col" value="R">Red</label>
    <label><input type="radio" id="col" value="G">Green</label>
    <label><input type="radio" id="col" value="B">Blue</label>
</form>

<hr />

<form action="/Time" class="onsubmit-disable" target="#info">
    <button type="submit">Submit</button>
</form>

<hr />

<input type="checkbox" id="chchk1" />
<input onchange-check="#chchk1" type="text" value="Jane Doe" class="onfocus-select">
<br />
<input type="checkbox" id="chchk2" />
<input onchange-check="#chchk2" type="text" value="Jane Doe">

<hr />

<style>
    .bright {
        color: red;
        font-weight: bold;
    }
</style>
<button type="button" onhover-addclass="bright on #storeinfo">Store</button>
<div id="storeinfo"> Stores the data.</div>

<hr />

<a href="/Time" target="#news5">Get news</a>
<div id="news5">
    <div class="beforeload-show" hidden>Getting news...</div>
</div>

<hr />

<form class="onchange-submit" action="/Query" target=">#t">

    <input type="text" name="a" value="  Not trimmed    " />
    <br />
    <input type="text" name="b" value="  Trimmed    " class="onfocusout-trim" />
    <br />
    <div id="t"></div>

</form>

<hr />

<ul>
    <li>
        <input type="checkbox" check-ifallchecked="<LI |> UL INPUT" ifchecked-check="<LI |> UL INPUT" /> America
        <ul>
            <li><input type="checkbox" /> Central and South-America</li>
            <li>
                <input type="checkbox" check-ifallchecked="<LI |> UL INPUT" ifchecked-check="<LI |> UL INPUT" /> North-America
                <ul>
                    <li><input type="checkbox" />Canada</li>
                    <li><input type="checkbox" />United States</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


<hr />

<input type="checkbox" class="line" /> Line 1
<br />
<input type="checkbox" class="line" /> Line 2
<br />
<input type="checkbox" class="line" /> Line 3
<br />
<button type="submit" enable-ifanychecked=".line" show-ifexists=".line">Delete selected lines</button>

<hr />


<select name="Country" class="ifvalue-events">
    <option value="CA">Canada</option>
    <option value="US" selected>Unites States of America</option>
    <option value="..">...</option>
</select>
<br />
<select name="State" class="ifvalueCountry-hide ifvalueCountryisUS-show">
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="..">...</option>
</select>

<hr />

<form ifvalid-enable=">:submit" class="oninput-change">
    Enable submits if form is valid:
    <p>
        <input type="text" name="a" required />
    </p>
    <p>
        <select name="b" required>
            <option></option>
            <option>Man</option>
            <option>Woman</option>
        </select>
    </p>
    <p>
        <button type="submit"> Submit </button>
    </p>
</form>


<hr />

<input type="radio" name="delx" value="car" ifchecked-disable="#delmbc" /> By car
<br />
<input type="radio" name="delx" value="train" ifchecked-disable="#delmbc" /> By train
<br />
<input type="radio" name="delx" value="plane" ifchecked-enable="#delmbc" /> By plane
<br />
<input type="checkbox" id="delmbc" /> Business class


<hr />
<input class="ifvalue-events" type="radio" name="delm" value="car" /> By car
<br />
<input class="ifvalue-events" type="radio" name="delm" value="train" /> By train
<br />
<input class="ifvalue-events" type="radio" name="delm" value="plane" /> By plane
<br />
<input type="checkbox" class="ifvaluedelm-disable ifvaluedelmisplane-enable" /> Business class


<hr />

<select name="transp" class="ifvalue-events">
    <option value="">(choose)</option>
    <option value="car">By Bus</option>
    <option value="train">By Train</option>
</select>
<br />
<input type="checkbox" class="ifvaluetransp-enable ifvaluetranspis-disable" /> Buy a ticket

<hr />

<p>
    <input class="ifvalue-events" name="item.addr[0].cntry"
           type="radio" value="FR" /> France<br />
    <input class="ifvalue-events" name="item.addr[0].cntry"
           type="radio" value="DE" /> Germany
</p>

<p>
    <input class="ifvalueitem.addr[0].cntry-uncheck
                      ifvalueitem.addr[0].cntryisFR-check"
           name="language" type="radio" value="fr" /> French<br />
    <input class="ifvalueitem.addr[0].cntry-uncheck
                      ifvalueitem.addr[0].cntryisDE-check"
           name="language" type="radio" value="de" /> German
</p>

<hr />
<p>
    <input class="ifvalue-events" name="Item.Customers[12].Discount"
           type="radio" value="" /> None<br />
    <input class="ifvalue-events" name="Item.Customers[12].Discount"
           type="radio" value="12.5%" /> 12.5%
</p>

<p>
    <input class="ifvalueItem.Customers[12].Discount-uncheck
                      ifvalueItem.Customers[12].Discountis-check"
           name="disco" type="radio" value="fr" /> No discount<br />
    <input class="ifvalueItem.Customers[12].Discount-uncheck
                      ifvalueItem.Customers[12].Discountis12.5%-check"
           name="disco" type="radio" value="de" /> Great discount
</p>

<hr />

<input type="text" id="xname" />
<button type="button" onclick="$('#xname').val(CSS.escape($('#xname').val()))"> CSS escaped </button>


<hr />

<style>
    .s1 {
        border: solid 2px green;
    }

    .s2 {
        background-color: blue;
    }
</style>

<div class="s1" onclick-toggleclass="s1, s2">CLICK HERE TO TOGGLE CLASSES</div>
<div class="s1" onclick-toggleclass="s1 s2 on #a11, #a12, s2 on #a13, s1 on :this, aa on">CLICK HERE TO TOGGLE CLASSES</div>
<div class="s2" id="a11">
    Target a11
</div>
<div class="s2" id="a12">
    Target a11
</div>
<div class="s2" id="a13">
    Target a11
</div>

<hr />

<style>
    .emphasized {
        background-color: yellow;
    }
</style>
<button type="button" onhover-addclass="emphasized on #actionhlp"> Action </button>
<span id="actionhlp">Pressing this button will...</span>


<hr />
<style>
    .on {
        background-color: yellow;
    }
</style>
<button type="button" onhover-addclass="on"> Action </button>


<hr />


<select name="selmulticountry1" class="ifvalue-events" multiple size="6">
    <option value="">-</option>
    <option value="BE" selected>Belgium</option>
    <option value="FR">France</option>
    <option value="NL">Netherlands</option>
    <option value="DE">Germany</option>
    <option value="ES">Spain</option>
</select>
<br />
<label><input type="checkbox" name="multicheckcountryBE" class="ifvalue-events ifvalueselmulticountry1-uncheck ifvalueselmulticountry1isBE-check" value="BE" />Belgium</label>
<br />
<label><input type="checkbox" name="multicheckcountryFR" class="ifvalue-events ifvalueselmulticountry1-uncheck ifvalueselmulticountry1isFR-check" value="FR" />France</label>
<br />
<div class="ifvaluemulticheckcountryBE-show ifvaluemulticheckcountryBEisBE-hide">Niet BE</div>
<br />
<div class="ifvaluemulticheckcountryBE-hide ifvaluemulticheckcountryBEisBE-show">Wel BE</div>
<br />


<hr />


<form action="/Query" class="target">
    <fieldset class="onchange-submit">
        <legend>Customer type</legend>
        <label><input type="radio" name="CType" value="C" checked> Company</label>
        <label><input type="radio" name="CType" value="I"> Individual</label>
    </fieldset>
    <fieldset>
        <legend>Name</legend>
        <input type="text" name="CName" placeholder="Company Name" />
        <br />
        <label>
            <input type="checkbox" name="HasVat" value="True"
                   class="onchange-submit"
                   formaction="/Time"
                   formtarget="#vatinfo">
            Has a VAT number
        </label>
        <div id="vatinfo"></div>
    </fieldset>
</form>



<hr />


<label><input type="checkbox" ifchecked-show="#vatinfo2"> Has a VAT number</label>
<div id="vatinfo2" hidden>
    <input type="text" name="VAT" placeholder="VAT Number" />
</div>

<hr />

<form onsubmit-disable=">BUTTON, >INPUT, >SELECT, >TEXTAREA" default-submit-button="#ok" default-cancel-button="#cancel" target="#qsd654654q">
    <input type="text" name="name" placeholder="Name" autocomplete="off" /><br />
    <input type="checkbox" name="age" checked /><br />
    <select name="nat">
        <option value=""></option>
        <option value="BE">Belg</option>
        <option value="NL">Nederlander</option>
    </select><br />
    <textarea name="descr"></textarea><br />
    <button type="submit" name="TestButton" value="Pressed" formaction="/Query?TEST">Test</button>
    <button id="ok" type="submit" name="OkButton" value="Pressed" formaction="/Query?OK">OK</button>
    <button id="cancel" type="submit" name="CancelButton" value="Pressed" formaction="/Query?Cancel">Cancel</button>
    <button id="reset" type="reset">Reset</button>
</form>
<div id="qsd654654q"></div>


<hr />

<p>Issue Edge: when selecting from autofill, posts form twice</p>
<form default-submit-button="#btnOk" default-cancel-button="#btnCancel">
    <input type="text" name="Name" value="" class="onchange-submit" id="fn61" onchange="console.log('\r\n\r\nField value changed: ' + $('#fn61').val())" />
    <button id="btnOk" type="submit" name="Cmd" value="OK"> OK </button>
    <a id="btnCancel" href="history:back" onclick-confirm="Leave?"> Cancel </a>
</form>

<hr />


<form default-submit-button="#btnOk" default-cancel-button="#btnCancel">
    <input type="text" name="FirstName" autocomplete="given-name" id="fn62" onchange="console.log('FirstName changed: ' + $('#fn62').val())" /><br />
    <input type="text" name="LastName" autocomplete="family-name" /><br />
    <input type="text" name="Address" autocomplete="address-line1" /><br />
    <input type="text" name="ZIP" autocomplete="postal-code" /><br />
    <input type="text" name="Town" autocomplete="address-level2" /><br />
    <input type="text" name="Email" autocomplete="email" /><br />
    <input type="text" name="Code" autocomplete="one-time-code" /><br />
    <button id="btnOk" type="submit" name="Cmd" value="OK"> OK </button>
    <a id="btnCancel" href="history:back" onclick-confirm="Leave?"> Cancel </a>
</form>

<hr />

<form>
    <input type="hidden" name="code" value="456" />
    <input type="text" class="substitute-fields" onchange-action="/Test/ChangeSucceed" name="Name" value="" /><br />
    <input type="text" class="substitute-fields" onchange-action="/Test/ChangeSucceed" name="Value" value="" /><br />
    <input type="text" class="substitute-fields" onchange-action="/Test/ChangeSucceed" name="Age" value="" /><br />

</form>

<hr />


<hr />


<hr />

<h3 id="bottom">End of page</h3>
<span xx-ifinview-click="#eoptarget"></span>
<a id="eoptarget" href="alert:Reached end of page"></a>

<hr />
