@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="privacy-content" data-share-url="">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

<p>
    <button type="button" class="btn btn-primary" onclick-share="#privacy-content">Share privacy statement</button>
</p>

<p>
    <button type="button" class="btn btn-primary" onclick-share=":this">Share this page</button>
</p>

<div class="oninit-showtoastr" hidden data-toastr-type="info" data-toastr-title="Welcome!">
    Mind your privacy !
</div>