@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="onload-showtoastr" hidden data-toastr-type="info" data-toastr-title="Welcome!">
    Mind your privacy !
</div>