@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model LocalizedString

@Localizer["PageHead", 40]

<form>
    <input type="hidden" name="__LocalizeFormat" value="$$[{0}]" />
    <button type="submit">ShowKeys</button>
</form>