@model Sircl.Website.Areas.MvcDashboardIdentity.Models.Roles.DeleteRequestModel

<form class="onsubmit-disable" action="@Url.Action("Delete")" method="post" default-submit-button=".default" default-cancel-button=".cancel">
    <div class="modal-header">
        <h5 class="modal-title">Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <input type="hidden" asp-for="Item.Id" />
        <input type="hidden" asp-for="Item.ConcurrencyStamp" />

        <p>Delete role @(Model.Item.Name) ?</p>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger" disabled="@(Model.Item == null ? "disabled" : null)" asp-action="Delete"><i class="spinner fas fa-trash-alt"></i> Delete</button>
        <button type="button" class="btn btn-secondary cancel" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>