@model EditModel

<form class="onsubmit-disable" action="@Url.Action("Save")" method="post" onkeyenter-click=".default" onkeyescape-click=".cancel">
    <div class="modal-header">
        <h5 class="modal-title">Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <input type="hidden" asp-for="Item.Id" />
        <input type="hidden" asp-for="Item.ConcurrencyStamp" />

        <div asp-validation-summary="All" class="@((this.ViewContext.ModelState.ErrorCount == 0) ? "hidden" : "alert alert-warning")">Please fix following errors:</div>

        <div class="form-group">
            <label asp-for="Item.Name"></label>
            <input asp-for="Item.Name" class="form-control" autocomplete="off" autofocus required />
            <span asp-validation-for="Item.Name"></span>
        </div>

    </div>
    <div class="modal-footer justify-content-start">
        <button type="submit" class="btn btn-primary default"><i class="spinner fas fa-save"></i> Save changes</button>
        @if (Model.Item?.Name != null)
        {
            <a class="btn btn-danger" disabled="@(Model.Item == null ? "disabled" : null)" href="@Url.Action("DeleteRequest", new { id = Model.Item?.Id })"><i class="spinner fas fa-trash-alt"></i> Delete</a>
        }
        <button type="button" class="btn btn-link cancel ml-auto" data-bs-dismiss="modal">Close</button>
    </div>
</form>