@{
    ViewBag.Title = "Home";
}

<div class="border bg-light p-4 rounded-lg m-3">
    <h1 class="display-4">MvcDashboardLogging</h1>
    <p class="lead">Your MVC dashboard to request logging.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("GetStarted")" role="button">Get started</a>
</div>

<div class="border bg-light p-4 rounded-lg m-3" onload-load="@Url.Action("Chart", new { Grain = "hourly" })">
</div>

<div class="border bg-light p-4 pb-3 rounded-lg m-3">
    <form asp-action="Flush" method="post">
        <input type="hidden" name="days" value="30"/>
        <button type="submit" class="btn btn-primary btn-lg float-end" onclick-confirm="Ok to delete all log records older than 30 days ?"><span class="spinner fas fa-trash"></span> Flush</button>
        <h5>Flush request logs</h5>
        <p>Delete request log records older than 30 days (except if bookmaked) to make room for fresh log records.</p>
    </form>
</div>