/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/****************************************************/

/* Validation */

.validation-summary-valid {
    display: none;
}



 
/** ADDITIONS **/


/* Data table pagination */
.pagination .page-item {
    min-width: 42px;
    text-align: right;
}

    .pagination .page-item input[type=radio] {
        display: none;
    }

form.form-changed {
    background-color: lightyellow;
}

.red {
    background-color: palevioletred;
}

.red-border {
    border: solid 2px palevioletred;
}

.action-pending {
    background-color: lightyellow;
}

.nav-item.active {
    font-weight: bold;
}

/* Back-Top button in lower-right screen corner for fast scroll-up to top of page */
/* From: http://webdesignerwall.com/tutorials/animated-scroll-to-top */

#back-top {
    display: block;
    position: fixed;
    bottom: 24px;
    right: 36px;
    font-size: 32px;
    color: #222;
    background-color: white;
    opacity: 0.4;
    z-index: 500;
}

    #back-top:hover {
        opacity: 1;
    }

/***********************/


.highlighted {
    border: solid 2px yellow;
    background-color: yellow;
}


/**********************/
/* View transitions: */
@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(100vw);
    }
}

@keyframes slide-to-right {
    to {
        transform: translateX(100vw);
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-100vw);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-100vw);
    }
}

html:active-view-transition-type(forwards) {
    &::view-transition-old(root) {
        animation: 300ms ease-out both slide-to-left;
    }
    &::view-transition-new(root) {
        animation: 300ms ease-out both slide-from-right;
    }
}
html:active-view-transition-type(backwards) {
    &::view-transition-old(root) {
        animation: 300ms ease-out both slide-to-right;
    }
    &::view-transition-new(root) {
        animation: 300ms ease-out both slide-from-left;
    }
}
html:active-view-transition-type(no-transition) {
    &::view-transition-old(root) {
        display: none;
    }
    &::view-transition-new(root) {
        animation: none;
    }
}
html:active-view-transition-type(customviewtransition) {
    &::view-transition-old(root) {
        animation: 800ms ease-out both fade-out;
    }    
    &::view-transition-new(root) {
        animation: 800ms ease-in both fade-in;
    }
}

